body {
  margin: 0;
  background-color: darkslategrey;
  color: whitesmoke;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'head head'
    'week main'
    'foot foot';
  grid-template-columns: 15% 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 1.75rem;
  min-height: 100vh;
  padding: 2rem;
}

.g-header {
  grid-area: head;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.h-team {
  font-size: 3rem;
  font-weight: bold;
}

.h-project {
  font-size: 2rem;
}

.h-sponsor {
  font-size: 1.3rem;
}

.h-members,
.h-coach {
  font-size: 1.5rem;
  font-weight: bold;
}

.h-people-box {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  text-align: center;
}

ul.h-memlist {
  font-weight: 100;
  font-size: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.g-weeks {
  grid-area: week;
}

.w-subheader {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.w-links>li {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}

.w-links>li>a {
  color: inherit;
}

.g-main {
  grid-area: main;
}

.team-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.team-info>div {
  max-width: 50%;
  width: 50%;
}

.team-info>div>h4>a {
  color: inherit;
  text-decoration: none;
}

h3,
h4 {
  margin: 0;
}

.g-footer {
  grid-area: foot;
}